<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="comment">

	<select id="content" parameterType="integer" resultType="board.ContentDataBean">
		select * from contents where connum = #{connum}
	</select>
	
	<select id="contentdelete" parameterType="integer">
		delete from contents where connum = #{connum}
	</select>
	
	<insert id="insertcomment" parameterType="board.CommentDataBean">
		insert COMMENTTABLE into value(COMMENTTABLE_seq.NEXTVAL,#{comnick},#{comcontent},sysdate,sysdate,#{comip},0,0,#{connum},#{email})
	</insert>
</mapper>