<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="comment">

	<select id="content" parameterType="integer" resultType="board.ContentDataBean">
		select * from contents where connum = #{connum}
	</select>
	
	<delete id="contentdelete" parameterType="integer">
		delete from contents where connum = #{connum}
	</delete>
	
	<insert id="insertcomment" parameterType="board.CommentDataBean">
		insert into COMMENTTABLE values(COMMENTTABLE_seq.NEXTVAL,#{comnick},#{comcontent},sysdate,sysdate,0,'0',#{connum},#{email},#{comip})
	</insert>
	
	<select id="getComment" parameterType="integer" resultType="board.CommentDataBean">
		select * from commenttable where connum = #{connum} order by commodifieddate desc
	</select>
	
	<delete id="deleteComment" parameterType="integer">
		delete from commenttable where comnum=#{comnum}
	</delete>
	
	<select id="commentone" parameterType="integer" resultType="board.CommentDataBean">
		select * from commenttable where comnum = #{comnum}
	</select>
	
	<update id="commentupdate" parameterType="board.CommentDataBean">
		update commenttable set comcontent=#{comcontent}, commodifieddate=sysdate where comnum = #{comnum}
	</update>
	
	<select id="commentcount" parameterType="integer" resultType="integer">
		select count(*) from commenttable where connum = #{connum}
	</select>
	
	<update id="contentupdate" parameterType="board.ContentDataBean">
		update contents set content=#{contents}, conhash=#{conhash}, conmodifieddate=sysdate where connum = #{connum}
	</update>
</mapper>