<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="login">

	<insert id="signup" parameterType="board.LogonDataBean">
		insert into usertable
		values(#{email},#{nickname},#{passwd},#{hash},#{age},#{createddate},#{modifieddate},#{ip},#{distinction},#{reportcount})
	</insert>
	
	<select id="getInfo" parameterType="String" resultType="hashmap">
		select * from members where id=#{id}
	</select>
</mapper>