<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userinfo">

	<insert id="signup" parameterType="board.LogonDataBean">
		insert into usertable
		values(#{email},#{nickname},#{passwd},#{hash},#{age},#{createddate},#{modifieddate},#{distinction},#{reportcount})
	</insert>
	
	<update id="updateMember" parameterType="board.LogonDataBean">
		update usertable set email=#{email}, nickname=#{nickname}, passwd=#{passwd}, hash=#{hash}, age=#{age} where email=#{email}
	</update>
	
	<select id="getInfo" parameterType="String" resultType="board.LogonDataBean">
		select * from usertable where email=#{email}
	</select>
	
	<select id="checkId" parameterType="board.LogonDataBean" resultType="board.LogonDataBean">
		select email,nickname from usertable where email=#{email} and passwd=#{passwd}
	</select>
	<select id="existEmail" parameterType="String" resultType="Integer">
		select count(*) from usertable where email=#{email}
	</select>
	<select id="existNickname" parameterType="String" resultType="Integer">
		select count(*) from usertable where nickname=#{nickname}
	</select>
	<select id="getMember" resultType="board.LogonDataBean">
		select * from usertable
	</select>
	
	<update id="tempPasswd" parameterType="board.TempPasswd">
		update usertable set passwd=#{passwd} where email = #{email}
	</update>
	
	<delete id="withdrawal" parameterType="board.LogonDataBean">
		delete from usertable where email=#{email} and passwd=#{passwd}
	</delete>
	
	<select id="existPasswd" parameterType="String" resultType="Integer">
		select count(*) from usertable where passwd=#{passwd}
	</select>
</mapper>